@media screen and (max-width: 425px) {
    /* common shared style */
    .common-width{
        max-width: 26.5rem;
        margin: 0 auto ;
    }
 /* header nav */
    .nav-container{
         flex-direction: column;
        
      
    }
    .list-container{
        flex-direction: column;
        margin: 1rem 0;
       
    }
    .logo-container{
        margin: 1rem 0;
    }
    .list-container li,.logo-container{
        margin-bottom: 0.8rem;
    }
    .nav-btn{
        margin-top: 1rem;
    }
/* banner section */
.banner-container{
    flex-direction: column-reverse;
    
}
.banner-img img{
    width: 18rem;
    height: 100%;
}
.banner-title{
    font-size: 1.5rem;
}
.banner-title-more{
    
font-size: 1.5rem;

}
.banner-desc{
font-size: 0.5rem;
}
.primary-btn{
   
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
   
    margin-right: 0.5rem;
}
.banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
   /* padding: 2rem; */
   
}
.banner-content > .banner-details{
    padding: 0rem 2rem 2rem 2rem;
}


/* online games section */
.online-games ,.Funny-Videos{
    font-size: 1.5rem;
}
.online-desc,.card-title{
    font-size: 0.5rem;
}
.card-container{
   grid-template-columns: repeat(1,1fr); 
   
}
.card{
  /* margin-left: 4.3rem; */
  padding: 1rem;
 
  margin: 0 auto;
}
.card img{
    width: 16rem;
    height: 100%;
}
/* play section start */
.play-container{
    flex-direction: column;
    
}
.play-container img{
    width: 15rem;
    height: 20rem;
}
.corner-img-container .corner-img{
    width: 9rem;
    height: 10rem;
    
}
.play-img{
    position: relative;
    
}
.play-img .corner-img{
   
    top: 13rem;
    right: 10rem;
  
}
.play-content > .title{
    text-shadow: 2px 2px 3px #0B0223;
}
.play-content , .title{
    font-size: 1.5rem;
}
.play-content ,.desc{
    font-size: 0.5rem;
  
}
.play-content,.title,.desc{
    margin: 1rem auto;
}
/* games section styles */

   .games-container{
    /* width: 100%; */
    margin-top: 8rem;
    flex-direction: row;

   
   
}
 .games-container img{
width: 2rem;
height: 2rem;

}

.games-desc{
    font-size: 0.4rem;
}
.games-details:hover {
    border: 1px solid #F948B2;
    border-radius: 3rem;
   .games-desc{
    color: #FF42A5;
   }
}
.hide{
    display: none;
}
/* footer section */
.footer-container{
   width: 50%;
    padding: 2rem;
    margin: 0 auto;
   
   
}
.footer-content{
   grid-template-columns: repeat(3,1fr);
   font-size: 0.4rem;
}
.footer-icons{
    grid-template-columns: repeat(3,1fr);
    font-size: 1.5rem;
}
.footer-policy{
    grid-template-columns: repeat(2,1fr);
    font-size: 0.5rem;
}
.footer-end-title{
    font-size: 0.4rem;
   padding: 0.5rem 2.8rem 0 2.8rem;
   text-align: center;
}
}